{% extends "main.html" %}

{% block content %}
<article>
    <header>
        <h2>Microsoft compra Activision Blizzard</h2>
        <div class="meta">
            Publicado en Enero 19 por <strong>Gregori Azuaje</strong> <span>(2 comentarios)</span>
        </div>
    </header>
    <img src="img/attack.jpg" alt="">
    <p>
        Después de cuatro exitosas temporadas, “Shingeki no Kyojin” (“Attack on Titan” 
        en inglés o “Ataque a los titanes” en español) llega a su fin con su última tanda
        de episodios que han salido a la luz este domingo 9 de enero de 2022.
    </p>
    <p>
        Desde su estreno en abril de 2013, el anime basado en el manga escrito e 
        ilustrado por Hajime Isayama se ha convertido en uno de los más populares de 
        los últimos años, así que los fanáticos esperan con ansias el desenlace de la 
        historia protagonizada por Eren, Mikasa y Armin.
    </p>
    <p>
        Al final de la primera parte de la cuarta temporada de “Shingeki no Kyojin”, 
        Pieck le hace creer a Eren que está de su lado y, a pesar de las advertencias 
        de Yelena, lo conduce hacia una trampa. Cuando la portadora del Titán Carguero
        señala a Eren como el enemigo, del piso debajo de ellos emerge el Titán Mandíbula,
        ataca a Jaeger y le arranca la mitad del cuerpo. Entonces, ¿qué pasará en los 
        próximos capítulos?
    </p>
</article>
<div class="clearfix"></div>
<h3>Comentarios Recientes</h3>
<div class="comments">
    <div class="comment_block">
        <div class="avatar">
            <img src="img/Andres.jpg" alt="foto_andres">
        </div>
        <div class="individual_comment">
            <p><strong>Andrés Magdalena</strong> escribió:</p>
            <p>Esta temporada se viene con todo!</p>
        </div>
    </div>
    <hr>
    <div class="comment_block">
        <div class="avatar">
            <img src="img/juan.jpg" alt="foto_juan">
        </div>
        <div class="individual_comment">
            <p><strong>Juancho Tacorta</strong> escribió:</p>
            <p>Tengo que ver de nuevo las temporadas anteriores para refrescar</p>
        </div>
    </div>
    <div id="leave_comment">
        <h3>Deja tu comentario</h3>
        <form>
            <label>Nombre:</label><br>
            <input type="text"><br>
            <label>Email:</label><br>
            <input type="email"><br>
            <label>Comentario:</label><br>
            <textarea></textarea>
        </form>
        <button>Añadir comentario</button>
    </div>
</div>
{% endblock content %}
