body{
    background-color: #dad8d8;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#main-header {
    background-color: #1DB7DD;
    height: 80px;
    width: 100%;
}

.container{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

#branding {
    margin-left: 5%;
    width: 40%;
    float: left;
}

#branding img{
    width: 90px;
    height: auto;
    position: absolute;
    margin-left: 20px;
}

#branding h1 {
    padding-left: 150px;
    margin-top: 20px; 
    color: white;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: bold;
}

#header-nav {
    float: right;
    width: 40%;
}

#header-nav ul {
    float: left;
}

#header-nav li{
    float: left;
    font-size: 30px;
    color: white;
    margin: 23px 0px 0px 3rem;
    text-transform: uppercase;
    font-size: 25px;
}

#header-nav li:last-of-type{
    margin: 23px 0px 0px 40px;
}

#header-nav li a{
    color: white;
    font-weight: bold;
}

#header-nav li a:hover{
    color: black;
}

#contenido {
    width: 60%;
    margin-top: 2.5%;
    float: left;
    border: solid 1px #f3f2f2;
    border-radius: 20px;
    padding: 0 20px 20px 20px;
    background-color: #f3f2f2;
}

#contenido article{
    padding: 20px 0px 40px 0px;
    border-bottom: dotted rgb(158, 158, 158) 1px;
}

#contenido article:last-of-type{
    border-bottom: None
}

#contenido article img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
}

#contenido article h2{
    padding: 10px 0 10px 0;
}

#contenido .meta {
    background-color: #1DB7DD;
    color: white;
    padding: 8px 8px 8px 10px;
    font-weight: 50;
}

#contenido .meta span{
    float: right;
}

.readmore {
    text-align: center;
    border: solid 1px #e0e0e0;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px 0;
    display: block;
    background-color: #e0e0e0;
    color: black;
}

.readmore:hover {
    background-color: #c5c5c5;
}

#pagination-nav {
    width: 100%;
}

#navigation-ul {
    margin-left: 35%;
}

#sidebar {
    width: 30%;
    margin-top: 2.5%;
    padding: 0 10px 40px 10px;
    float: right;
    background-color: #f3f2f2;
    border: solid 1px;
    border-radius: 10px;
}

#sidebar .search{
    float: right;
}

#sidebar .search input[type="search"]{
    float: left;
    width: 88%;
    padding: 4px 0 4px 4px;
    border: solid 1px #d4d4d4;
    border-radius: 8px;
    margin-top: 40px;
}

#sidebar .search input[type="image"]{
    float: right;
    width: 10%;
    height: auto;
    margin-top: 40px;
}

#sidebar_nav{
    float: right;
    width: 100%;
    margin-bottom: 20px;
}

#sidebar_nav ul{
    float: left;
    padding: 40px 0 0 0;
    width: 100%;
}

#sidebar_nav li{
    padding: 7px 0;
    border-bottom: dotted 1px black;
    border-width: 100%;
}

#sidebar_nav a{
    color: black;
    font-weight: bold;
}

#sidebar_nav a:hover{
    color: #1DB7DD;
}

.publi img{
    width: 100%;
}

#main_footer {
    width: 100%;
    background-color: #1DB7DD;
    margin: 20px 0 0 0;
    padding: 25px 0;
}

.footer_right {
    float: right;
    width: 60%;
}

.footer_right .footer_nav {
    float: left;
    width: 40%;
    margin-left: 30px;
}

.footer_right .footer_nav ul{
    margin-top: 0;
}

.footer_nav li{
    margin-top: 5px;
    border-bottom: dotted black 1px;
    padding-bottom: 5px;
}

.footer_nav li a{
    color: white;
    font-weight: bold;
}

.footer_nav li a:hover{
    color:rgb(255, 0, 0);
}

.footer-left{
    width: 40%;
}

.copyright {
    color: white;
    margin-top: 80px;
}


/* maquetación para noticias completas*/

.comment_block {
    margin-bottom: 5%;
    border-bottom: 1px dotted rgb(85, 85, 85);
}

.comment_block .avatar {
    float: left;
    width: 8%;
}

.comment_block .avatar img {
    width: 100%;
}

.individual_comment {
    margin-left: 9%;
}

#leave_comment {
    background-color: #1DB7DD;
    border-radius: 5px;
    padding: 1px 0 25px 15px;
}

#leave_comment h3{
    color: white;
}

#leave_comment label{
    color:white;
}

#leave_comment input[type="text"], input[type="email"]{
    width: 95%;
    height: 25px;
    border-radius: 5px;
    border: #1DB7DD;
    margin-bottom: 10px;
}

#leave_comment textarea{
    width: 95%;
    height: 100px;;
    border-radius: 5px;
    border: #1DB7DD;
    margin-bottom: 10px;
}

#leave_comment button{
    padding: 5px 5px;
}


/* maquetación para sección de añadir posts*/

.add_post_options{
    width: 97%;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    padding: 5px 2px;
}

#textarea{
    height: 100px;
}

#add_post_button{
    padding: 5px;
}


/*---------- media query -----------*/

@media only screen  and (max-width: 1053px) {

    #branding h1{
        font-size: 20px;
    }

    #header-nav li{
        font-size: 18px;
    }
}

@media only screen and (max-width: 901px){

    #branding{
        width: 10%;
    }

    #branding h1{
        display: none;
    }

    #header-nav{
        width: 80%;
    }

    #contenido .meta{
        font-size: 12px;
    }

}

@media only screen and (max-width: 764px){
    
    .container #sidebar{
        float: none;
        padding-top: 0;
        width: 95%;
        margin-top: 4%;
    }

    .container #contenido{
        width: 93%;
    }

    #navigation-ul {
        margin-left: 30%;
    }
}

@media only screen and (max-width: 570px){

    #branding{
        width: 5%;
    }

    #branding img{
        margin-left: 0;
    }

    #header-nav{
        width: 95%;
    }

    #navigation-ul {
        margin-left: 30%;
    }
}


@media only screen and (max-width: 400px){
    
    #main-header{
        height: 60px;
    }

    #branding img{
        width: 70px;
    }

    #header-nav ul{
        margin-right: 0;
        width: 100%;
    }

    #header-nav li{
        font-size: 12px;
    }

    #contenido .meta{
        font-size: 9px;
    }

    .container #sidebar{
        width: 89%;
    }

    .container #contenido{
        width: 85%;
    }

    #navigation-ul {
        margin-left: 25%;
    }
}